on:
  push:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Run build
        run: |
          ./build.sh
        working-directory: ./
      - name: Archive artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist-files
          path: |
            dist-files
